extends ./layouts/standard.pug

block content 

    .container-fluid
        .row
            .col-4.offset-4(style="margin-top:80px;")
                h1 Welcome, please login...
                form(action="")
                    .form-group
                        input.form-control(type="email", required="true", placeholder="Email")
                    .form-group
                        input.form-control(type="password", required="true", placeholder="Password")
                    .form-group 
                        button.btn.btn-success(type="submit") Let's go!

                        