extends ./layouts/standard.pug

block content
  h1= title
  iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7492.4562620687575!2d-98.73519300000001!3d20.124528!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3df24a912305b104!2sGeek%20Park%20Academy!5e0!3m2!1ses!2smx!4v1618540935995!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy")
  p Welcome to #{title}

  a(href="https://www.linkedin.com/in/nelly-herrera/")
    img(src="/images/linkedin.png", alt="" width="100px")


