extends ./layouts/standard.pug

block content 

    .container-fluid 
        #carouselExampleCaptions.carousel.slide.row(data-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='/images/One-Piece-2.jpg' alt='...')
                    .carousel-caption.d-none.d-md-block
                        h1 First slide label
                        p Some representative placeholder content for the first slide.

        .row 
            .col-10.offset-1
                h1 Lorem ipsum dolor sit amet 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum nihil a error maxime omnis iusto fuga tenetur ut ad. Maxime, neque odio ipsa adipisci aliquid reprehenderit est doloribus maiores.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae at autem illo quas fuga quo aspernatur vel consectetur harum doloremque, ducimus molestiae corporis perspiciatis aut neque, quasi suscipit? Sapiente, in.

                .row 
                    .col-8
                        .row#contentPost
                    .col-4
                        h3 tags
                        ul.list-group.list-group-flush
                            li.list-group-item Cine
                            li.list-group-item Tecnologia
                            li.list-group-item ciencia
                            li.list-group-item Anime

    script.
       
        function showPosts(){
            $.ajax({
                url:"/api/posts/",
                method:"GET",
                data: {},
            }).done(function(data){
            
                $.each(data, function(index,value){ 
                            var post = `<div class="col-6">
                                            <div class="card" style="width:100%">
                                                <img src="/images/post/${value.img}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">${value.title}</h5>
                                                    <p class="card-text">${value.description}</p>
                                                    <a href="#" class="btn btn-primary">Leer articulo</a>
                                                </div>
                                            </div>
                                        </div>`
                    $("#contentPost").append(post)
                }) 
                console.log(data)
            }).fail(function(jqXHR, textStatus, err){
                console.log(jqXHR.responseJSON.message)
            })
        }

        showPosts()

